body{ 
    
    background-color: rgb(50, 132, 169);
}      
.stopwatch{
 width: 90%;
 max-width: 280px; 
 background-color: rgb(239, 102, 251);
 text-align: center;
 padding: 10px 0;
 color: rgb(243, 243, 251);
 margin: 50px auto 0;
 box-shadow: 0 10px 10px rgba(0,0,0,2);
}
.stopwatch h1{
 margin-top: 40px;
 font-size: 50px;
 font-weight: 200;
} 
.buttons{
display: flex; 
align-items: center; 
justify-content: center; 
}
.buttons img{
 width: 40px; 
 margin:0 15px;
cursor: pointer;
}
.buttons img:nth-child(2){ 
 width: 70px;

}

